* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: Helvetica, Arial, sans-serif;
    color:honeydew;
  }

  #wyatt-corbett {
    background-color: rgb(176, 225, 240);
    padding-left: 55px;
    margin-right: 85px;
    color: rgb(245, 205, 205);
    display: flex;
    justify-content: flex-start;
}

  header {
      padding: 20px 35px;
      background-color: #777c7c;
      display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  header a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(6, 21, 36)
  }

  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    background: white;
    color: rgb(6, 21, 36);
    border-radius: 15px;
    text-shadow: none;
  }

  .hero {
    padding: 70px 35px;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  